@model TTMS.ViewModels.TimetableViewModel;



<main class="col-md-9 ms-sm-auto px-md-4">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        @*                <h1 class="h2">Timetable for Teacher @Model.Timetables.First().Teacher </h1>
        *@
    </div>
    <div class="btn-group1" ondragstart="drag(event)">
    </div>

    <div class="btn-group" ondragstart="drag(event)">
    </div>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th width="50px">Days </th>
                @{
                    foreach (var l in Model.Lessons)
                    {
                        <th width="50px" class="Lessons">@l.Text</th>
                    }
                }


            </tr>
        </thead>
        <tbody>
            @{
                foreach (var d in Model.Days)
                {
                    <tr>
                        <td class="Days">@d.Text</td>
                        @foreach (var l in Model.Lessons)//Timetables.Where(x => x.Day == d.Text))
                        {
                            <td ondrop="drop(event)" ondragover="allowDrop(event)" data-lessonId="@l.Value" data-daysId="@d.Value">
                            </td>
                        }
                    </tr>

                }
            }

        </tbody>
    </table>



</main>

<script>
    $(document).ready(function () {
        GetTeacher();
    });
    $(document).ready(function (){
        GetTimetable();
    });


    async function GetTeacher() {
        var id = window.location.href.split('?id=')[1];
        $.get("/api/lookup/GetSubjectsByTeacher?id=" + id, function (r) {
            var classBtnGroup = document.getElementsByClassName("btn-group1")[0];
            console.log(r);
            r.forEach(function (subject) {
                var button = document.createElement("button");
                button.value = subject.subjectID;
                button.textContent = subject.name;
                button.style.margin = "5px";
                button.classList.add("btn");
                button.classList.add("btn-primary");
                button.draggable = "true";
                button.setAttribute("data-id", "subject_" + subject.subjectID);
                button.setAttribute("data-name", subject.name);
                button.id = "subject_" + subject.subjectID + subject.name;
                classBtnGroup.appendChild(button);


            });


        });
        $.get("/api/lookup/GetClassesByTeacher?id=" + id, function (r) {
            var classBtnGroup = document.getElementsByClassName("btn-group")[0];
            console.log(r);
            r.forEach(function (_class) {
                var button = document.createElement("button");
                button.value = _class.classID;
                button.textContent = _class.name;
                button.style.margin = "5px";
                button.classList.add("btn");
                button.classList.add("btn-primary");
                button.draggable = "true";
                button.setAttribute("data-id", "class_" + _class.classID);
                button.setAttribute("data-name", _class.name);
                button.id = "class_" + _class.classID + _class.name;

                classBtnGroup.appendChild(button);
            });
        });
    }

    function allowDrop(ev) {
        ev.preventDefault();
    }

    function drag(ev) {
        console.log('drag', ev);
        ev.dataTransfer.setData("id", ev.target.dataset.id);
        ev.dataTransfer.setData("name", ev.target.dataset.name);
    }

    var globalData;
    var globalTarget;
    function drop(ev) {
        //console.log('drop', ev, ev.currentTarget.dataset.daysid,ev.currentTarget.dataset.lessonid);

        ev.preventDefault();
        var dataId = ev.dataTransfer.getData("id");
        var name = ev.dataTransfer.getData("name");
        if (dataId.startsWith("class") && ev.currentTarget.children.length == 0) {
            return;
        }
        if (dataId.startsWith("subject")) {
            while (ev.currentTarget.firstChild) {
                ev.currentTarget.removeChild(ev.currentTarget.firstChild);
            }
            ev.currentTarget.appendChild(document.getElementById(dataId + name).cloneNode(true));

        }
        if (dataId.startsWith("class")) {
            if (ev.currentTarget.children.length == 1) {
                ev.currentTarget.appendChild(document.getElementById(dataId + name).cloneNode(true));
            }
            if (ev.currentTarget.children.length == 2) {
                ev.currentTarget.removeChild(ev.currentTarget.lastChild);
                ev.currentTarget.appendChild(document.getElementById(dataId + name).cloneNode(true));
            }

            var teacherID = window.location.href.split('?id=')[1];
            var subjectID = ev.currentTarget.firstChild.dataset.id.split('subject_')[1];
            submit(teacherID, ev.currentTarget.dataset.daysid, ev.currentTarget.dataset.lessonid, subjectID, dataId.split('class_')[1]);
        }

    }
    function submit(teacherID, daysID, lessonID, subjectID, classID) {
        $.get("/api/update/UpdateTimetableEntry", { teacherID: teacherID, daysID: daysID, lessonID: lessonID, subjectID: subjectID, classID: classID }, function (result) {
            console.log(teacherID, daysID, lessonID, subjectID, classID);

        });

    }

    async function GetTimetable() {
        var id = window.location.href.split('?id=')[1];
        $.get("/api/lookup/GetTimetable?id=" + id, function (r) {
            console.log(r);
            r.forEach(function (entry) {
                console.log(entry);

            });
            

        });
    }
</script>