@model TTMS.ViewModels.TeacherViewModel;

@{
    //ViewData["Title"] = "Add";
}
@using (Html.BeginForm("edit", "Teacher", new { Id = Model.TeacherID }, FormMethod.Post))
{
         
     <main class="col-md-9 ms-sm-auto px-md-4">
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <h1 class="h2">Edit teachers</h1>
        </div>
          <div class="col-md-7x col-lg-8x">

                <div class="col-sm-12">
                    <label for="title" class="form-label">title</label>
                    <select class="form-select" id="title" name="Title" value="@Model.Title" required style="height:40px">
                    <option>Mr.</option>
                    <option>Ms.</option>
                    </select>
                    <div class="invalid-feedback">
                        Valid title is required.
                    </div>
                </div>
        
                <div class="col-sm-12">
                  <label for="firstName" class="form-label">firstname</label>
                <input type="text" class="form-control" id="firstname" name="Firstname" placeholder="" value="@Model.Firstname" required>
                  <div class="invalid-feedback">
                    Valid firstname is required.
                  </div>
                </div>

                <div class="col-sm-12">
                  <label for="surname" class="form-label">surname</label>
                <input type="text" class="form-control" id="surname" name="Surname" placeholder="" value="@Model.Surname" required>
                  <div class="invalid-feedback">
                    Valid  surname is required.
                  </div>
                </div>

                
                <div class="col-sm-12">
                  <label for="email" class="form-label">email</label>
                <input type="email" class="form-control" id="email" name="Email" placeholder="" value="@Model.Email" required>
                  <div class="invalid-feedback">
                    Valid Email is required.
                  </div>
                </div>

                <div class="col-sm-5">
                <label for="Subject" class="form-label">Subjects</label>
                <select class="form-select" id="Subject" name="Subject" value="@Model.Subjects" required multiple style="height:200px">
              
                    @foreach(var item in Model.Subjects)
                    {
                        <option value="@item.Value">@item.Text</option>
                    }
                </select>
                <div class="invalid-feedback">
                    Please select a valid Subject Name.
                 </div>
                </div>

                 <div class="col-sm-5">
                <label for="Classes" class="form-label">Classes</label>
                <select class="form-select" id="Classes" name="Classes" value="@Model.Classes" required multiple style="height:200px">
                    @if (Model.Classes != null && Model.Classes.Any())
                    {
                        @foreach (var item in Model.Classes)
                        {
                            <option value="@item.Value"> @item.Text</option>
                        }

                    }

                </select>
                <div class="invalid-feedback">
                    Please select a valid Class Name.
                </div>
            </div>

               

           
        
  
                @*<div class="col-sm-12">
                  <label for="Subject" class="form-label">subject</label>
                <select class="form-select" id="Subject" name="Subject" value="@Model.Subject" required multiple style="height:200px">
                    <option value="">  </option>
                    <option value="1">English</option>
                    <option value="2">Urdu</option>
                    <option value="3">Mathematics</option>
                    <option value="4">Science</option>
                    <option value="5">Social Studies</option>
                    <option value="6">Islamiat</option>
                    <option value="7">Nazra</option>
                    <option value="8">Tarjuma tul Quran</option>
                    <option value="9">Computer</option>
                    <option value="10">Art</option>
                    <option value="11">Physics</option>
                    <option value="12">Biology</option>
                    <option value="13">Chemistry</option>
                    <option value="14">Pak Studies</option>
                  </select>
                  <div class="invalid-feedback">
                    Please select a valid Subject.
                  </div>
                </div>*@
        
        

          </div>
            <div class="container-fluid">
                <input type="submit" value="edit" class="btn btn-lg btn-outline-success col-md-12"> 
            </div>
     </main> 
}
 