@model TTMS.ViewModels.TimetableViewModel;



    <main class="col-md-9 ms-sm-auto px-md-4"  >
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom" >
            <h1 class="h2">Timetable for Teacher @Model.Timetables.First().Teacher </h1>
        </div>
        <div class="btn-group1" >
            
        </div>

        <div class="btn-group">
        </div>

        <table class="table table-bordered" >
            <thead>
                <tr >
                    <th width="50px">Days </th>
                    @{
                        foreach (var l in Model.Lessons)
                        {
                           <th width="50px">@l.Text</th>
                        }
                    }

                    
                </tr>
            </thead>
            <tbody>
                    @{
                        foreach (var d in Model.Days)
                        {
                             <tr>
                                <td>@d.Text</td>
                                @foreach(var l in Model.Timetables.Where(x => x.Day == d.Text))
                                {
                                   <td>
                                        


                                   </td>
                                }
                             </tr>

                        }
                    }

                    
            </tbody>
        </table>

        @*<form id="make_checkbox_select">
             <div class="col-sm-5">
                <label for="Subjects" class="form-label">Subjects</label>
            <select class="form-select" id="Subjects" name="SubjectID" required multiple style="height:200px" >
                    @if (Model.Subjects != null && Model.Subjects.Any())
                    {
                        @foreach (var item in Model.Subjects)
                        {
                            <option value="@item.Value"> @item.Text</option>
                        }

                    }

                </select>
       


                <label for="Classes" class="form-label">Classes</label>
            <select class="form-select" id="Classes" name="ClassID" required multiple style="height:200px" >
                    @if (Model.Classes != null && Model.Classes.Any())
                    {
                        @foreach (var item in Model.Classes)
                        {
                            <option value="@item.Value"> @item.Text</option>
                        }

                    }

                </select>
            </div>
        
            <div class="container-fluid">
                 <input type="submit" value="add" class="btn btn-lg btn-outline-success col-md-12">
            </div>
                
        </form>*@

    </main>


<script>
    $(document).ready(function () {
        GetTeacher();
    });

    
    async function GetTeacher() {
        var id = window.location.href.split('?id=')[1];
        $.get("/api/lookup/GetSubjectsByTeacher?id=" + id, function (r) {
            var classBtnGroup = document.getElementsByClassName("btn-group1")[0];
            console.log(r);
            r.forEach(function (subject) {
                var button = document.createElement("button");
                button.value = subject.subjectID;
                button.textContent = subject.name;
                button.style.margin = "5px";
                button.classList.add("btn");
                button.classList.add("btn-primary");
                //button.value = _class.classID;
                classBtnGroup.appendChild(button);
               
                
            });


        });
        $.get("/api/lookup/GetClassesByTeacher?id=" + id, function (r) {
            var classBtnGroup = document.getElementsByClassName("btn-group")[0];
            console.log(r);
            r.forEach(function (_class) {
                var button = document.createElement("button");
                button.value = _class.classID;
                button.textContent = _class.name;
                button.style.margin = "5px";
                button.classList.add("btn");
                button.classList.add("btn-primary");
                classBtnGroup.appendChild(button);
            });
        });
    }


</script>



