@model TTMS.ViewModels.TimetableViewModel;
@using TTMS.Controllers.API;


@{
    //ViewData["Title"] = "Add";
}
@using (Html.BeginForm("add", "Timetable", FormMethod.Post))
{

          
     <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <h1 class="h2">Add Timetables</h1>
        </div>
          <div class="col-md-7 col-lg-8">

            <div class="col-sm-12">
                <label for="TimetableName" class="form-label">Timetable Name</label>
                <input type="text" class="form-control" id="TimetableName" name="Name" placeholder="" value="" required>
                <div class="invalid-feedback">
                    Valid Name is required.
                </div>
            </div>


              <div class="col-sm-5">


                    <label for="Days" class="form-label">Days</label>
                    <select class="form-select" id="Days" name="DayID" required multiple style="height:200px">
                        @if (Model.Days != null && Model.Days.Any())
                        {
                            @foreach (var item in Model.Days)
                            {
                                <option value="@item.Value"> @item.Text</option>
                            }

                        }

                    </select>
                    <div class="invalid-feedback">
                        Please select a valid Day.
                    </div>

                    <label for="Lessons" class="form-label">Lessons</label>
                    <select class="form-select" id="Lessons" name="LessonID" multiple style="height:200px">
                        @if (Model.Lessons != null && Model.Lessons.Any())
                        {
                            @foreach (var item in Model.Lessons)
                            {
                                <option value="@item.Value">@item.Text</option>
                            }

                        }
                    </select>
                    <div class="invalid-feedback">
                        Please select a valid Lesson.
                    </div>

                    <label for="Teachers" class="form-label">Teachers</label>
                <select class="form-select" id="TeacherID" name="TeacherID" required multiple style="height:200px" onclick="GetTeacher()">

                        @if (Model.Teachers != null && Model.Teachers.Any())
                        {
                            @foreach (var item in Model.Teachers)
                            {
                                <option value="@item.Value"> @item.Text</option>
                            }

                        }

                    </select>
                    <div class="invalid-feedback">
                        Please select a valid Teacher Name.
                    </div>


                    <label for="Subjects" class="form-label">Subjects</label>
                    <select class="form-select" id="Subjects" name="SubjectID" required multiple style="height:200px">
                        @if (Model.Subjects != null && Model.Subjects.Any())
                        {
                            @foreach (var item in Model.Subjects)
                            {
                                <option value="@item.Value"> @item.Text</option>
                            }

                        }

                    </select>
                    <div class="invalid-feedback">
                        Please select a valid Subject Name.
                    </div>
            

                   <label for="Classes" class="form-label">Classes</label>
                    <select class="form-select" id="Classes" name="ClassID" required multiple style="height:200px">
                        @if (Model.Classes != null && Model.Classes.Any())
                        {
                            @foreach (var item in Model.Classes)
                            {
                                <option value="@item.Value"> @item.Text</option>
                            }

                        }

                    </select>
                    <div class="invalid-feedback">
                        Please select a valid Class Name.
                    </div>
            

                @*<div class="col-md-5">*@
            
              </div>
        </div>
            <div class="container-fluid">
                <input type="submit" value="add" class="btn btn-lg btn-outline-success col-md-12">
            </div>
     </main> 
}

<script>
    async function GetTeacher(){
        var id = $('#TeacherID')[0].selectedOptions[0].value;
        $.get("/controllers/api/lookup/GetSubjectsByTeacher?id="+id, function (r) {
           console.log(r);
        });
    }

    
</script>