@model TTMS.ViewModels.TimetableViewModel;


@{
    //ViewData["Title"] = "Add";
}
@using (Html.BeginForm("edit", "Timetable", new { Id = Model.TimetableID }, FormMethod.Post))
{


    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <h1 class="h2">Edit Timetables</h1>
        </div>
        <div class="col-md-7 col-lg-8">

            


            <div class="col-sm-5">

                <label for="Teachers" class="form-label">Teachers</label>
                <select class="form-select" id="Teachers" name="TeacherID" value="@Model.Teachers" required multiple style="height:200px">
                    @if (Model.Teachers != null && Model.Teachers.Any())
                    {
                        @foreach (var item in Model.Teachers)
                        {
                            <option value="@item.Value"> @item.Text</option>
                        }

                    }

                </select>
                <div class="invalid-feedback">
                    Please select a valid Subject Name.
                </div>


                <label for="Subjects" class="form-label">Subjects</label>
                <select class="form-select" id="Subjects" name="SubjectID" value="@Model.Subjects" required multiple style="height:200px">
                    @if (Model.Subjects != null && Model.Subjects.Any())
                    {
                        @foreach (var item in Model.Subjects)
                        {
                            <option value="@item.Value" selected ="selected"> @item.Text</option>
                        }

                    }

                </select>
                <div class="invalid-feedback">
                    Please select a valid Subject Name.
                </div>


                @*          <div class="col-sm-5">
            *@                <label for="Classes" class="form-label">Classes</label>
                <select class="form-select" id="Classes" name="ClassID" value="@Model.Classes" required multiple style="height:200px">
                    @if (Model.Classes != null && Model.Classes.Any())
                    {
                        @foreach (var item in Model.Classes)
                        {
                            <option value="@item.Value"> @item.Text</option>
                        }

                    }

                </select>
                <div class="invalid-feedback">
                    Please select a valid Class Name.
                </div>


                @*<div class="col-md-5">*@
                <label for="Lessons" class="form-label">Lessons</label>
                <select class="form-select" id="Lessons" name="LessonID" value="@Model.Lessons" multiple style="height:200px">
                    @if (Model.Lessons != null && Model.Lessons.Any())
                    {
                        @foreach (var item in Model.Lessons)
                        {
                            <option value="@item.Value">@item.Text</option>
                        }

                    }
                </select>
                <div class="invalid-feedback">
                    Please select a valid Lesson.
                </div>


                <label for="Days" class="form-label">Days</label>
                <select class="form-select" id="Days" name="DayID" value="@Model.Days" required multiple style="height:200px">
                    @if (Model.Days != null && Model.Days.Any())
                    {
                        @foreach (var item in Model.Days)
                        {
                            <option value="@item.Value"> @item.Text</option>
                        }

                    }

                </select>
                <div class="invalid-feedback">
                    Please select a valid Day.
                </div>


            </div>
        </div>
        <div class="container-fluid">
            <input type="submit" value="edit" class="btn btn-lg btn-outline-success col-md-12">
        </div>
    </main>
}